@font-face {
	font-family: WitchPumpkin;
	src: url(/Font/Witch\ Pumpkin.otf)
}
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	max-width: 100%;
	font-family: WitchPumpkin;
	overflow: visible;
	list-style: none;
	color: var(--Text-color)
}
:root {
	--Primary-color: #B76E79;
	--Text-color: #F2E1DA;
	--Second-color: #D8A29E;
	--Third-color: #643A4C;
	--Fourth-color: #f0c08631;
	--Header-color: #8d4f5c;
}
body {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom,var(--Primary-color),var(--Third-color));
	background-repeat: no-repeat;
}
.HeaderLine,header {
	background-color: var(--Header-color);
	display: flex
}
header {
	position: fixed;
	height: 7.5vh;
	width: 100vw;
	align-items: center;
	padding: 1%;
	z-index: 3
}
header>h1 {
	color: var(--Text-color)
}
.HeaderLine {
	width: 90vw;
	height: 2px;
	align-self: center
}
.MenuButton,.MenuButton:hover {
	position: absolute;
	transition: .5s
}
.MenuButton {
	right: 50px;
	width: 65px;
	height: 65px;
	font-size: 30px;
	border-radius: 50%;
	box-shadow: 0 0 5px 5px #643a4c;
	border: 0;
	color: var(--Third-color)
}
.MenuButton:hover {
	right: 47.5px;
	width: 70px;
	height: 70px;
	background-color: #643a4c;
	box-shadow: 0 0 5px 5px var(--Text-color);
	color: var(--Text-color)
}
.menu {
	z-index: 1;
	position: fixed;
	width: 350px;
	height: 500px;
	background-color: #fff;
	border-left: solid var(--Text-color);
	border-bottom: solid var(--Text-color);
	right: 0;
	top: -75%;
	transition: 1s
}
.menu.active {
	top: 11.75vh;
	transition: 1.25s;
	background-color: #8d4f5c90
}
.menu>div {
	margin: 25px
}
.menu>div>li>a {
	display: flex;
	justify-self: center;
	text-align: center;
	font-size: 50px;
	transition: .5s
}
.menu>div>li>a:hover {
	text-shadow: #ffd396 0 0 10px;
	transition: .5s
}
.pillartop--left {
	position: absolute;
	height: 30%;
	background-color: #fff;
	width: 9.75%
}
.ContentHolder {
	position: relative;
	margin: auto;
	justify-content: center;
	top: 11vh;
	padding: 5px;
	height: 95%;
	width: 80%;
	background-color: #d8a29e82;
	z-index: 0
}
.AboutMe>button,.seperator {
	border-color: var(--Text-color)
}
.seperator {
	display: flex;
	justify-self: center;
	width: 1250px;
	height: 10px;
	border: 2.5px;
	border-style: dotted;
	margin-top: 2vh;
	margin-bottom: 5vh
}
.Introduction {
	position: relative;
	display: flex;
	height: 800px;
	width: 100vw;
	margin-top: 15vh;
	flex-direction: column
}
.Introduction--ProfessionalProfile {
	position: absolute;
	display: inline-flex;
	width: 50%;
	align-content: center
}
.Introduction--Moon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 var(--Text-color);
	transition-duration: 1s
}
.Introduction>* {
	height: 10%;
	width: 100vw;
	font-size: 300%;
	color: var(--Text-color);
	display: flex;
	flex-flow: wrap;
	justify-content: space-around
}
.Introduction>h1 {
	margin-top: 12%
}
.Introduction--Moon:hover {
	cursor: pointer;
	box-shadow: 15px 10px 0 5px var(--Third-color);
	transition: all;
	transition-duration: 1s
}
.AboutMe {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
	align-items: center;
	height: 70vh;
	width: 75%;
	gap: 5rem;
	box-sizing: border-box;
	margin: 12.5rem;
	padding: 0 2.5%;
	font-size: 240%;
	text-align: center
}
.AboutMe>button {
	background-color: var(--Fourth-color);
	color: var(--Text-color);
	border-style: solid;
	border-radius: 15px;
	cursor: pointer;
	transition: all .3s ease;
	width: 200px;
	height: 50px;
	font-size: 100%;
	padding: .5rem 1rem
}
.AboutMe>button:hover {
	background-color: #ffd5a252;
	transition: all .5s ease;
	height: 52.5px;
	width: 202.5px;
	font-size: 102.5%;
	box-shadow: var(--Text-color) 0 0 20px 10px;
}
.Projects--ProjectHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	height: 10%
}
.Game,.Game>* {
	display: flex;
	border-color: var(--Text-color)
}
.Game {
	border-style: double;
	border-width: 5px;
	margin: 25px;
	width: 325px;
	height: 550px;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: var(--Fourth-color)
}
.Game>* {
	gap: 1rem;
	margin: 10px;
	color: var(--Text-color)
}
.Game>.image {
	width: 80%;
	height: 250px;
	border-style: dotted;
	border-width: 2px
}
.Game>.title {
	width: 85%;
	height: 20px;
	font-size: 275%
}
.Game>.info {
	width: 85%;
	height: 25%;
	font-size: 175%
}
.Game>.ToGame {
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 85%;
	height: 10%;
	background-color: #f2e1da54;
	border-style: solid;
	color: var(--Text-color);
	transition: .5s;
}
.Game>.ToGame:hover{
	background-color: #ffe3d673;
	box-shadow: var(--Text-color) 0 0 20px 5px;
	transition: .5s;
	cursor: pointer;
}
.contact {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center
}
.contact>h2 {
	font-size: 300%
}
.Game>.ToGame,.contact>h3 {
	font-size: 250%
}
.contactButton {
	display: flexbox;
	align-self: center;
	width: 225px;
	height: 75px;
	font-size: 50px;
	background-color: var(--Fourth-color);
	border: var(--Text-color) solid 1.5px;
	border-radius: 2.5%;
	margin: 50px;
	transition: .5s
}
.contactButton:hover {
	background-color: #f9d4a750;
	transition: .5s;
	cursor: pointer
}
footer {
	position: static;
	height: 75px;
	width: 100%;
	background-color: var(--Header-color);
	margin-top: 85px;
	z-index: 1;
}




/* Projects */

.ProjectPageContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.gameholder{
	height: 300px;
	width: 612.5px;
	position: relative;
	display: flex;
	justify-self: center;
	margin: 25px;
	border: var(--Text-color) 2.5px dashed;
	text-align: left;
	background-color: #8d4f5c90;
}

.GameHolderTop > img{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: green;
	top: 12.5px;
	left: 15px;
}

.GameHolderTop > h2{
	font-size: 75px;
	position: absolute;
	right: 75px;
	width: 300px;
	
}
.GameHolderDescription{
	position: absolute;
	display: flex;
	right: 250px;
	top: 25%;
	font-size: 30px;
}
.ToPage{
	position: absolute;
	height: 50px;
	width: 350px;
	right: 25px;
	bottom: 20px;

	background: transparent;
	color: var(--Text-color);
	font-size: 35px;

	border: solid var(--Text-color) 1.5px;
	transition: .5s;
}

.ToPage:hover{
	background-color: #ffffff42;
	transition: .5s;
	cursor: pointer;
}



/* ================================ About me ================================ */ 







@media (max-width: 1200px) {
	.AboutMe>Button{
		position: absolute;
		bottom: 50px;
	}
	header{
		width: 100%;
	}
	.pillartop--left{
		display: none;
	}
	.menu{
		top: -200%;
	}
	.menu.active{
		top: 9.5vh;
	}
}
